{% include 'header.html' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<hr>

<h1 id="about" class="pt-4">
    <img src="{{ url_for('static', filename = 'image/info.png') }}" width="40" height="40" class="d-inline-block align-top" alt="">
          About Us
</h1>
<hr>
<p id="text" class="pt-5">
    <br><br>

    The modern manufacture of furniture, as distinct from its design, is a major mass-production industry in Europe, the U.S.,<br><br> and other advanced regions.
    It is very largely a 20th-century industry, its development having awaited the growth of a mass consumer<br><br> market as well as
    the development of the mass-production technique. Earlier furniture making was a handicraft, going back to the most ancient civilizations.<br><br>

    <b>Our website provides modern furniture to fit all people.</b>
</p>

<div class="pt-5">
    {% include 'footer.html' %}
</div>

